.grid {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  @media all and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);

    @media all and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.narrow {
    grid-template-columns: repeat(2, 1fr);

    @media all and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
